/data/db
/data
SETUP_AND_USER_GUIDE.md
TODO.md
/decide-testing
/vmm-dev/classification_shortcuts
*.pyc
/vmm-dev/docs
/vmm-dev/data/vap_review
vmm-dev/classification_writeup.ipynb
vmm-dev/classification_review_app_v2.py
vmm-dev/classification_review_app.py
vmm-dev/data/insert.zip
vmm-dev/insert_eli_test_data.ipynb
vmm-dev/README.md
vmm-dev/formatting.ipynb
/vmm-dev/data/insert
/vmm-dev/data/output
vmm-dev/codelist.ipynb
vmm-dev/classification.ipynb
/vmm-dev/library
.env
